/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #e5c244; color:#fff; text-shadow: none; }
::selection { background:#e5c244; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #e5c244; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active { color: #6eb0a3; }
a:hover { color: #c97836; }


/**
 * Primary styles
 *
 * Author: Logan Leger
 */

html, body {height: 100%;}
body {
  font: 14px sans-serif #444;
  line-height: 1.5;
}
h1 {
  color: #6eb0a3;
  font-size: 36px;
  border-bottom: 1px solid #d6d8d7;
  margin-bottom: 10px;
}
h2 {
  color: #6eb0a3;
  font-size: 28px;
  margin-bottom: 10px;
}
h3 {
  color: #6eb0a3;
  font-size: 22px;
  margin-bottom: 5px;
}
p { margin-bottom: 15px; }
#container {
  width: 900px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}
.push { height: 90px; }
#head {
  margin-top: 25px;
}
#header {
  margin-bottom: 25px;
}
#logo {
  float: left;
  width: 136px;
  height: 83px;
  border-bottom: none;
}
  #logo a {
    background: url('/images/header_logo.png');
    width: 136px;
    height: 83px;
  }
#head {

}
#head nav {
  float: right;
  margin-top: 50px;
}
  #head nav a { background: url('/images/nav_sprite.png') 0 -45px no-repeat; height: 20px; width: 161px; float: left; 
  padding-bottom: 10px; border-bottom: 1px solid #d6d8d7; margin-right: 25px; }
  #head nav a:hover { border-bottom: 1px solid #e5c244; }
  #nav_about:hover { background-position: 0 0; }
  #head #nav_portfolio { background-position: -166px -45px; }
  #head #nav_portfolio:hover { background-position: -166px 0; }
  #head #nav_blog { background-position: -421px -45px; }
  #head #nav_blog:hover { background-position: -421px 0; }
  #head #nav_contact { background-position: -582px -45px; margin-right: 0; }
  #head #nav_contact:hover { background-position: -582px 0; }
#main {
  margin-top: 25px;
}
  #banner {
    width: 901px;
    height: 200px;
    background: url('/images/banner.png');
    margin: 25px auto;
  }
  #tagline {
    background: url('/images/magnificent_app.png');
    width: 527px;
    height: 22px;
    margin: 15px auto;
  }
  #left, #right {
    float: left;
    width: 400px;
    line-height: 2;
  }
  #left { padding-right: 50px; }
  strong.big_green {
    font-size: 18px;
    color: #99be49;
    font-weight: normal;
  }
  #sayhello {
    font-size: 14px;
    color: #6eb0a3;
    padding: 5px 0;
    margin: 10px 0;
    border-top: 1px solid #6eb0a3;
    border-bottom: 1px solid #6eb0a3;
    font-style: italic;
    font-weight: normal;
  }
  #right h3 {
    font-size: 18px;
    color: #99be49;
    font-weight: normal;
  }
  #right h4 {
    font-style: italic;
    font-weight: normal;
    line-height: .5;
  }
  #right header {
    padding-bottom: 0;
  }
  #right article {
    border-bottom: 1px solid #6eb0a3;
    padding: 15px 0;
    line-height: 1.5;
  }
  #right article:last-child {
    border-bottom: none;
  }
  #right .meta {
    font-weight: bold;
    color: #9e9f9f;
  }
section#main_content {
  margin: 25px 0;
}
footer {
  background: url('/images/footer_bg.png') repeat-x;
  color: #c97836;
  padding-top: 10px;
  height: 90px;
}
  footer a {
    color: #c97836;
  }
  footer a:hover {
    color: #6eb0a3;
  }
  footer nav {
    float: left;
  }
  footer nav a {
    display: block;
  }
  footer address {
    float: right;
    text-align: right;
  }
  footer p {
    margin: 0;
  }
  #footercontent {
    width: 900px;
    margin: 0 auto;
  }
label { font-weight: bold; }
input.nice_input { margin-bottom: 10px; border: 1px solid #6eb0a3; padding: 5px }
textarea.nice_input { width: 250px; height: 150px; border: 1px solid #6eb0a3; }
input.nice_input:focus, textarea.nice_input:focus { outline: none; border: 1px solid #c97836; }
#about_text {
  float: left;
  width: 450px;
}
#about_us {
  width: 400px;
  padding-left: 50px;
  float: left;
}
#about_us img {
  float: left;
  padding: 0 5px 5px 0;
}
#contact {
  float: left;
  width: 450px;
}
#location {
  width: 400px;
  padding-left: 50px;
  float: left;
}
#flash_error, #flash_notice, #flash_success {
  padding: 10px;
  margin: 15px 0 15px 0;
  border: 2px solid #ddd;
}
#flash_error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
#flash_notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
#flash_success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
#flash_error a { color: #8a1f11; }
#flash_notice a { color: #514721; }
#flash_success a { color: #264409; }
article.post {
  margin-bottom: 50px;
}
article.post .meta {
  font-weight: bold;
  color: #9e9f9f;
  border-bottom: 1px solid #6eb0a3;
}
  article.post header h2 {
    margin-bottom: 0;
  }
  article.post header h2 a {
    text-decoration: none;
  }
div#post {
  float: left;
  width: 525px;
}
div#sidebar {
  float: left;
  width: 275px;
  margin-left: 100px;
}
div#sidebar ul {
  list-style-type: none;
  margin-left: 0;
}
div#sidebar form {
  margin: 25px 0;
}
pre {
  overflow-x: auto;
  background: #eee;
}
code {
  font-family: "Anonymous Pro", monospace, sans-serif;
}
.field_with_errors {
  display: inline;
  color: #8a1f11;
}
#error_explanation strong {
  color: #8a1f11;
}
#addcomment {
  padding: 25px 0;
}
.comment_meta {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #6eb0a3;
}
  .comment_author {
    font-weight: bold;
    color: #6eb0a3;
    margin-bottom: 0;
    display: inline;
  }
  .comment_meta time {
    font-weight: bold;
    color: #9e9f9f;
    display: inline;
  }


/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/** Coderay styles */
.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}
.CodeRay .code {
	background-color: #232323;
	font-family: 'Courier New', 'Terminal', monospace;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
  background-color: #232323;
  font-family: 'Courier New', 'Terminal', monospace;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
