<% title "About" %>
<section id="main_content">
	<section id="about_text">
		<h1>About NewAperio</h1>
		<p>Our story is kind of cool. We&rsquo;re two Louisiana boys who love technology. One day a while back we were sitting around talking about technology. We realized that our idea of the future matched up and that we both wanted to affect that future directly. It was then that NewAperio was born, but we didn&rsquo;t quite know what that meant.</p>
	
		<p>Fast-forward two years in the future: Logan was in college working on a degree in computer engineering and Evan was starting his in math and physics. Logan had this crazy idea to actually start a company &mdash; like legitimately. So, we filed with the government, got our papers, and then realized that we didn&rsquo;t have the slightest idea what to do next.</p>
	
		<p>Our first project was a product we called Twoschedule. It&rsquo;s a personal productivity app. We were both so busy, so we came up with this neat system to keep focus and context on the tasks at hand. It helped us immensely, so we built it, launched it and then tried to get it to take off. It had modest success, but never really took us anywhere. So we began to think about what was next.</p>
	
		<p>Somewhere along the way, we started helping out people. There&rsquo;s a lot of entrepreneurs where we are who have some pretty awesome ideas, but no technical ability to bring those ideas to market. We started working with these fellow entrepreneurs, because we do have the skills and the knowhow. We helped them refine their idea, build a business plan, plan effective monetization schemes and, finally, build the product. As it turns out, we were a lot better at this than working on our own ideas. Plus, it was fun.</p>
	
		<p>So, we shifted. And now, after some time, we&rsquo;re fully embracing this model. We help entrepreneurs. They come to us with an idea and we turn it into reality. They&rsquo;re passionate about their ideas, and we&rsquo;re passionate about helping them turn it into reality.</p>
		
		<p>And so, that&rsquo;s what we are: engineers and entrepreneurs.</p>
	
		<p>We&rsquo;re having a blast.</p>
	
		<p>From Baton Rouge, with love,<br />
		the guys at NewAperio</p>
	</section>
	<section id="about_us">
		<h1>&ldquo;The Guys&rdquo;</h1>
		<section id="logan">
			<h2>Logan Leger</h2>
			<%= image_tag("logan_headshot.jpg", :width => "125px") %>
			<p>Logan is the CEO, handling all the business stuff, like sales, marketing, administration and other things. He works closely with our entrepreneur clients on developing their business and jumps in code when he can. He&rsquo;s a student at Louisiana State University, where he&rsquo;s working on a degree in computer engineering. He&rsquo;s a member of the Stephenson Entrepreneurship Institute Fellows at LSU and enjoys watching his fightin&rsquo; Tigers. He was born and raised in South Louisiana. He&rsquo;s amiable and likes to cook &mdash; for all his friends, as his Cajun heritage taught him. Plus, he&rsquo;s got an amazing beard.</p>
		</section>
		<section id="evan">
			<h2>Evan Cordell</h2>
			<%= image_tag("evan_headshot.png", :width => "125px") %>
			<p>Evan is the CTO, setting the technology strategy for the company, developing software, and overseeing development teams. He works with clients to both understand their visions and help them understand some of the technical aspects of their projects. He&rsquo;s currently a student at Tulane University studying math, physics, and German. He&rsquo;s from the bustling city of Natchitoches, LA, where he returns during the summer to assist teaching gifted kids from around the state. In his free time he enjoys writing, cooking, glassblowing, and kitten-picture-looking.</p>
		</section>
		<section id="chris">
			<h2>Christopher Keele</h2>
			<%= image_tag("chris_headshot.jpg", :width => "125px") %>
			<p>Chris is our Senior Developer, so he gets to do a bit of everything. While he manages and codes many of our projects, he&rsquo;s also likely to be found meeting with clients, going to conferences, making coffee, or training our amazing interns. He&rsquo;s getting really good at breaking and fixing code while nobody&rsquo;s looking. While he moved around a lot when young, at some point he fell in with two of his Southern friends and found himself calling Louisiana home. Chris likes cooking, singing in French, never sleeping, and listening to Logan make fun of his diabetes.</p>
		</section>
	</section>
</section>