<% title "About" %>
<section id="main_content">
  <section id="about_text">
    <h1>About NewAperio</h1>
    <p>NewAperio was founded in 2010 by Logan Leger while a student at Louisiana State University. After a few &mdash; failed &mdash; attempts at founding internet startups, Logan used the skills he had garnered in building, managing and directing web and mobile products to start a new kind of entrepreneurially-focused development firm.</p>
    <p>Our name is unique. <strong>Aperio</strong> (pronounced uh-pair-e-o) is a Latin word meaning &ldquo;to uncover&rdquo;. We believe that&rsquo;s what we help our clients do: to discover their hidden potential through web and mobile apps. The <strong>New</strong> part emphasizes the ever-changing nature of our industry: by reminding ourselves &mdash; daily &mdash; of the constant evolution of the web and mobile platforms, we commit ourselves to constantly challenge and expand what we know.</p>
  </section>
  <section id="about_us">
    <h1>&ldquo;The Guys&rdquo;</h1>
    <section id="logan">
      <h2>Logan Leger</h2>
      <%= image_tag("logan_headshot.png", :width => "125px") %>
      <p>Logan is the CEO, handling most of the business side of things, like sales, marketing, and administration, among other things. He works closely with our entrepreneur clients on developing their business. He&rsquo;s also the lead engineer on all our products, setting the technical strategy and jumping into code when he can. He graduated from Louisiana State University with a degree in computer engineering. While at LSU, he was a Stephenson Entrepreneurship Institute Fellow and was a global finalist in the EO Global Student Entrepreneur Awards. In his spare time, he enjoys watching his fightin&rsquo; Tigers and serves on the East Baton Rouge Parish Library Board of Control. Plus, he&rsquo;s got an amazing beard.</p>
    </section>
    <section id="jonathan">
      <h2>Jonathan Hooper</h2>
      <%= image_tag("jonathan_headshot.png", :width => "125px") %>
      <p>Jonathan is a Senior Engineer, developing software, determining requirements, and maintaining sustained projects. His focus is developing for mobile platforms such as iOS and Android. He graduated from Louisiana State University with a degree in computer science, with a focus in software engineering. Jonathan is a Louisiana native, raised just a few miles north of Baton Rouge. When he isn&rsquo;t behind his laptop working on a project, he enjoys spending time outdoors hiking and backpacking.</p>
    </section>
    </section>
    <section id="mike">
      <h2>Mike Redaelli</h2>
      <%= image_tag("mike_headshot.png", :width => "125px") %>
      <p>Mike is the Creative Director, conceptualizing, wireframing, and designing all of our web and mobile projects. He has a varied background, with experience in everything from brand strategy and execution to interactive design, digital product development, and visual content design. Mike hails from Cleveland, and in his spare time likes to wallow in the misery that is Cleveland sports.</p>
    </section>
  </section>
</section>
