<% title "About" %>
<section id="main_content">
	<section id="about_text">
		<h1>About NewAperio</h1>
		<p>Our story is kind of cool. Logan, our founder, was in college working on a degree in computer engineering and had this crazy idea to actually start a company &mdash; like legitimately. So, he filed with the government, got all the right papers, and then realized that he didn&rsquo;t have the slightest idea what to do next.</p>
		
		<p>Somewhere along the way, we started helping out people. There&rsquo;s a lot of entrepreneurs where we are who have some pretty awesome ideas, but no technical ability to bring those ideas to market. We started working with these fellow entrepreneurs, because we do have the skills and the knowhow. We helped them refine their idea, build a business plan, plan effective monetization schemes and, finally, build the product. As it turns out, we were a lot better at this than working on our own ideas. Plus, it was fun.</p>
	
		<p>So, we shifted. And now, after some time, we&rsquo;re fully embracing this model. We help entrepreneurs. They come to us with an idea and we turn it into reality. They&rsquo;re passionate about their ideas, and we&rsquo;re passionate about helping them turn it into reality.</p>
		
		<p>And so, that&rsquo;s what we are: engineers and entrepreneurs.</p>
	
		<p>We&rsquo;re having a blast.</p>
	
		<p>From Baton Rouge, with love,<br />
		the guys at NewAperio</p>
	</section>
	<section id="about_us">
		<h1>&ldquo;The Guys&rdquo;</h1>
		<section id="logan">
			<h2>Logan Leger</h2>
			<%= image_tag("logan_headshot.png", :width => "125px") %>
			<p>Logan is the CEO, handling all the business stuff, like sales, marketing, administration and other things. He works closely with our entrepreneur clients on developing their business and jumps in code when he can. He&rsquo;s a student at Louisiana State University, where he&rsquo;s working on a degree in computer engineering. He&rsquo;s a member of the Stephenson Entrepreneurship Institute Fellows at LSU and enjoys watching his fightin&rsquo; Tigers. He was born and raised in South Louisiana. He&rsquo;s amiable and likes to cook &mdash; for all his friends, as his Cajun heritage taught him. Plus, he&rsquo;s got an amazing beard.</p>
		</section>
		<section id="jonathan">
		  <h2>Jonathan Hooper</h2>
		  <%= image_tag("jonathan_headshot.png", :width => "125px") %>
		  <p>Jonathan is a Mobile Engineer, developing software, determining requirements, and maintaining sustained projects. His focus is developing for mobile platforms such as iOS and Android. He studies computer science and math at Louisiana State University. Jonathan is a Louisiana native, raised just a few miles north of Baton Rouge. When he isn&rsquo;t behind his laptop working on a project or schoolwork, he enjoys spending time outdoors hiking and backpacking.</p>
		</section>
	</section>
</section>