<% title "Contact" %>
<section id="main_content">
	<section id="contact">
		<h1>Say hello!</h1>
		<p>We&rsquo;re a group of true Southerners &mdash; we like to talk, to anyone and everyone. If you&rsquo;d like to get in touch with us, please do so. Whether you&rsquo;re a potential client, someone who just wants to say hello or a fellow entrepreneur that&rsquo;d like to use us as a sounding board, our ears are always open. Say <a href="mailto:hello@newaperio.com">hello@newaperio.com</a> or give us a call at 225/328.7022</p>
		
		<h2>Office Hours</h2>
		<p>Every week, we hold &ldquo;office hours&rdquo; where anyone and everyone is free to call in and just chat. Whether you want us to hear your pitch, pick our brain about an idea, or ask us what our favorite music to listen to while coding, we&rsquo;re available. This happens every <strong>Friday from 3:30 PM to 4:30 PM CST</strong>. We break this off in approximately ten minute conversations so we can get in as many as we can. We do this as a public service, because we believe in doing good just to do it.</p>
		
		<h2>Jobs</h2>
		<p>We&rsquo;re always looking for the next member of our family. If you&rsquo;re a talented web and mobile programmer who loves startups, writing elegant code, and hanging out with awesome guys, then you might be it. Or, if you&rsquo;re an awesome designer who knows web and mobile, we&rsquo;d like to talk to you. You can get in touch with the guys who run the show at <a href="mailto:founders@newaperio.com">founders@newaperio.com</a>. We don&rsquo;t care about your degree or work experience. Just send us a link to some awesome things you&rsquo;ve done, tell us a little bit about those projects and then let us know why you think you&rsquo;re amazing and a great fit for our team.</p>
	</section>
	<section id="location">
		<h1>Our Home</h1>
		<p>We&rsquo;re located in sunny Baton Rouge, Louisiana, where the food is second to none and the people enjoy life to the fullest. Laissez les bon temps rouler!</p>
		
		<p>We work in the historic Romain Building in the heart of beautiful downtown Baton Rouge, with an awesome view of the Mississippi River from our windows. It&rsquo;s a great place to be right now&mdash;downtown is booming with tons of new construction and just brimming with other likeminded creative entrepreneurs. It's a very inspiring place to work! If you&rsquo;re in the area, drop by and say hello.</p>
		<address>
			<p>343 Third Street, Suite 300<br />
			Baton Rouge, LA 70801</p>
		</address>
	</section>
</section>