<% title "Portfolio" %>
<section id="main_content">
	<h1>Our work</h1>
	<p>We&rsquo;ve worked with companies big and small &mdash; from entrepreneurs who are just starting up to regional industrial leaders &mdash; and on projects that have won awards and been featured in the App Store. To see a portfolio of our work, say <a href="mailto:hello@newaperio.com">hello@newaperio.com</a>.</p>
</section>
