<% title "Portfolio" %>
<section id="main_content">
	<h1>Our work</h1>
	<p>Coming soon! We&rsquo;re busy working on client projects, but soon we&rsquo;ll put up more information about completed projects.</p>
</section>